# Gradle  
.gradle/

# Java
build/
out/
history/ 

# Intellij idea
.idea/
logs/

# Serenity 
target/

# Package files
*.jar

# Not ingnoring
!gradle-wrapper.jar

#Logs
*.log

# Antigravity / IDE específicos
**/.agent/
.idea/
.vscode/
*.swp

# Evitar ruido para la IA (Contexto)
node_modules/
dist/
build/
*.log

# Seguridad
.env

.DS_Store